In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
train=pd.read_csv('/kaggle/input/titanic/train.csv')
test= pd.read_csv('/kaggle/input/titanic/test.csv')

In [5]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
test.shape

(418, 11)

In [9]:
train=train.drop(['Cabin', 'Ticket'], axis=1)
test=test.drop(['Cabin', 'Ticket'], axis=1)

In [10]:
train['Title']=train['Name'].str.extract(r'(\w+)\.')
test['Title']=test['Name'].str.extract(r'(\w+)\.')

In [11]:
train['Title']=train['Title'].replace([ 'Lady','Don', 'Rev', 'Dr', 'Major','Col', 'Sir','Capt', 'Countess','Jonkheer'], 'rare')
train['Title']=train['Title'].replace(['Mlle','Ms'], 'Mrs')
train['Title']=train['Title'].replace('Mme', 'Miss')
test['Title']=test['Title'].replace([ 'Lady','Don','Dona', 'Rev', 'Dr', 'Major','Col', 'Sir','Capt', 'Countess','Jonkheer'], 'rare')
test['Title']=test['Title'].replace(['Mlle','Ms'], 'Mrs')
test['Title']=test['Title'].replace('Mme', 'Miss')

In [12]:
train=train.drop('Name', axis=1)
test=test.drop('Name', axis=1)

In [13]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title
0,1,0,3,male,22.0,1,0,7.2500,S,Mr
1,2,1,1,female,38.0,1,0,71.2833,C,Mrs
2,3,1,3,female,26.0,0,0,7.9250,S,Miss
3,4,1,1,female,35.0,1,0,53.1000,S,Mrs
4,5,0,3,male,35.0,0,0,8.0500,S,Mr

In [14]:
from sklearn.preprocessing import LabelEncoder

### Label Encoder

In [15]:
Enco=LabelEncoder()

In [16]:
Enco.fit(train['Sex'])
train['Sex']=Enco.transform(train['Sex'])
test['Sex']=Enco.transform(test['Sex'])

In [17]:
Enco.fit(train['Embarked'])
train['Embarked']=Enco.transform(train['Embarked'])
test['Embarked']=Enco.transform(test['Embarked'])

In [18]:
Enco.fit(train['Title'])
train['Title']=Enco.transform(train['Title'])
test['Title']=Enco.transform(test['Title'])

In [19]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title
0,1,0,3,1,22.0,1,0,7.2500,2,2
1,2,1,1,0,38.0,1,0,71.2833,0,3
2,3,1,3,0,26.0,0,0,7.9250,2,1
3,4,1,1,0,35.0,1,0,53.1000,2,3
4,5,0,3,1,35.0,0,0,8.0500,2,2

In [20]:
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Title
0          892       3    1  34.5      0      0   7.8292         1      2
1          893       3    0  47.0      1      0   7.0000         2      3
2          894       2    1  62.0      0      0   9.6875         1      2
3          895       3    1  27.0      0      0   8.6625         2      2
4          896       3    0  22.0      1      1  12.2875         2      3

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    int64
 9   Title        891 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

### Simple imputer

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    int64
 9   Title        891 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

In [23]:
from sklearn.impute import SimpleImputer

In [24]:
SimImp=SimpleImputer(missing_values=np.nan, strategy='median')
SimImp.fit(train[['Age']])
train['AgeSim']=SimImp.transform(train[['Age']])

In [25]:
train.loc[train['Age'].isnull()]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeSim
5,6,0,3,1,NaN,0,0,8.4583,1,2,28.0
17,18,1,2,1,NaN,0,0,13.0000,2,2,28.0
19,20,1,3,0,NaN,0,0,7.2250,0,3,28.0
26,27,0,3,1,NaN,0,0,7.2250,0,2,28.0
28,29,1,3,0,NaN,0,0,7.8792,1,1,28.0
...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,1,NaN,0,0,7.2292,0,2,28.0
863,864,0,3,0,NaN,8,2,69.5500,2,1,28.0
868,869,0,3,1,NaN,0,0,9.5000,2,2,28.0
878,879,0,3,1,NaN,0,0,7.8958,2,2,28.0
888,889,0,3,0,NaN,1,2,23.4500,2,1,28.0

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    int64
 9   Title        891 non-null    int64
 10  AgeSim       891 non-null    float64
dtypes: float64(3), int64(8)
memory usage: 76.7 KB

In [27]:
trainSim=train.drop(['Age'], axis=1)
train=train.drop(['AgeSim'],axis=1)

### Multivariate imputer
We impute the missing values by modeling each feature with missing values as a fucntion of other features.

In [28]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [29]:
MulImp=IterativeImputer(random_state=0)
MulImp.fit(train)
train['AgeMul']=MulImp.fit_transform(train[['Age']])

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     891 non-null    int64
 9   Title        891 non-null    int64
 10  AgeMul       891 non-null    float64
dtypes: float64(3), int64(8)
memory usage: 76.7 KB

In [31]:
trainMul=train.drop(['Age'], axis=1)
train=train.drop(['AgeMul'],axis=1)

### KNN imputer
Using k-Nearest Neighbors to complete the missing values

In [32]:
from sklearn.impute import KNNImputer
ImpKnn=KNNImputer(n_neighbors=10)
ImpKnn.fit(train)
train['AgeKnn']=ImpKnn.fit_transform(train[['Age']])

In [33]:
train.loc[train['Age'].isnull()]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeKnn
5,6,0,3,1,NaN,0,0,8.4583,1,2,29.699118
17,18,1,2,1,NaN,0,0,13.0000,2,2,29.699118
19,20,1,3,0,NaN,0,0,7.2250,0,3,29.699118
26,27,0,3,1,NaN,0,0,7.2250,0,2,29.699118
28,29,1,3,0,NaN,0,0,7.8792,1,1,29.699118
...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,1,NaN,0,0,7.2292,0,2,29.699118
863,864,0,3,0,NaN,8,2,69.5500,2,1,29.699118
868,869,0,3,1,NaN,0,0,9.5000,2,2,29.699118
878,879,0,3,1,NaN,0,0,7.8958,2,2,29.699118
888,889,0,3,0,NaN,1,2,23.4500,2,1,29.699118

In [34]:
trainKnn=train.drop(['Age'], axis=1)
train=train.drop(['AgeKnn'],axis=1)

### Model

In [35]:
from sklearn.model_selection import train_test_split

In [67]:
X=trainKnn.drop(['Survived'], axis=1)
y=trainKnn['Survived']

In [88]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

#### Linear models

In [71]:
from sklearn import linear_model
Lm=linear_model.RidgeClassifier()
Lm.fit(X_train, y_train)

RidgeClassifier()

In [72]:
Lm.score(X_train, y_train)

0.7969798657718121

In [73]:
Lm.score(X_test, y_test)

0.8101694915254237

In [89]:
from sklearn.svm import LinearSVC
Svc=LinearSVC()

In [90]:
Svc.fit(X_train, y_train)

/opt/conda/lib/python3.10/site-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [91]:
Svc.score(X_train, y_train)

0.7583892617449665

In [92]:
Svc.score(X_test, y_test)

0.7322033898305085